.homePage {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .home_img {
    width: 400px;
    height: auto;
    margin-bottom: 30px;

    @media (max-width: 768px) {
      margin-bottom: 25px;
      width: 300px;
    }
    @media (max-width: 480px) {
      width: 250px;
    }
  }
  .text {
    color: var(--green);
  }
}
